@page
@model WebChat.Pages.Chat.IndexModel
@{
	ViewData["Title"] = "Chat";
}
@{
	<div class="container">
		<div class="row row-cols-1">
			<div class="col p-3">
				<div class="container">
					<h2 class="d-flex justify-content-center text-light">Connected Users</h2>
					<div class="overflow-auto d-grid gap-2" id="usersList" style="max-height: 10em">
						
					</div>
				</div>
			</div>
		</div>
		<div class="row p-1">
			<hr />
			<div class="col-6">
			</div>
		</div>
		<div class="row p-1">
			<div class="container d-flex flex-column overflow-auto gap-3"
				 style="height: 55vh"
				 id="messagesList">

			</div>
		</div>
		<div class="row p-1">
			<div class="container d-flex">
				<input type="text" id="messageInput" class="flex-fill p-1 rounded">
				<button id="sendButton" class="btn btn-primary rounded ms-2">Send</button>
			</div>
		</div>
	</div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
