@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-light">ASP.NET Core Chat Web Application</h1>
    <p class="text-light">Made by <a href="https://github.com/JumbleBumble" class="text-light">Jumble</a></p>
</div>
